<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookBook</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="assets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
    <nav class="new-navbar navbar-default navbar-fixed-top">
      <div class="container-fluid navbar-color nav-padding">
        <div class="navbar-header">
          <div class="container-new">
          <h1> BOOKBOOK</h1>
        </div>

      <form class="form-inlineblock topnavfloatemail">
        <div class="form-group">
          <label class="nav-text-color">Email</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Email">
        <span class="nav-text-color">
        <input type="checkbox" >Keep me logged in
        </span>
        </div>

      </form>
      <form class="form-inlineblock topnavfloatpassword">
        <div class="form-group">
          <label class="nav-text-color">Password</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Password">
          <p class="nav-text-color">Forgot my password</p>
        </div>
      </form>

      <form class="form-inlineblock topnavfloatlogin">
        <button type="submit" class="btn btn-default">Login</button>
      </form>
        </div>
      </div>
    </nav>
  </header>
</body>

<main class="sec-padding container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 parfix">
      <h2> Conect with all your friends!</h2>
      <ul>
        <li>See photos and updates in your news feed</li>
        <li>Post your status for the world to see from your profile</li>
        <li>Get in touch with your friends by "friending" them</li>
        <li>Like things because youre a positive person</li>
      </ul>
    </div>
    <div class="col-md-5 col-md-offset-1 parfix">
      <h3>Create an account</h3>
      <h4>It's free and always will be</h4>
      <div>
        <table>
          <tbody>
            <tr>
              <td><%= form_for @user do |user_fields| %>
                <%= user_fields.label :username %>
                <%= user_fields.text_field :username %>
                <br>
                <%= user_fields.label :email %>
                <%= user_fields.text_field :email %>
                <br>
                <%= user_fields.label :password %>
                <%= user_fields.text_field :password %>
                <br>

                <%= user_fields.label :password_confirmation %>
                <%= user_fields.text_field :password_confirmation %>
                <%= user_fields.submit %>
                <%end%>
              </td>
            </tr>
            <tr>
              <td>
                <select class="table-adjustment">
                  <option>Day<option>1</option><option>2</option>
                </select>
                <select>
                  <option>Month<option>Jan</option><option>Feb</option>
                </select>
                <select>
                  <option>Year<option>1200</option><option>1300</option>
                </select>
              </td>
            </tr>
            <tr>
              <td><input type="radio">Male</td>
            </tr>
            <tr>
              <td><input type="radio">Female</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success">Create an account</button>
      </div>
    </div>
  </div>
</main>







