<!DOCTYPE html>
<html>
  <head>
    <title>CalvinBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="assets/about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid navbar-color">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <p style="font-weight: strong; color: white;"> AshBook</p>
            </a>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input  style=" height: 25px; width: 750px; float: center;" type="text" class="form-control" placeholder="Search for users">
                <p style=" position: absolute; right: 10%; top: 10%; font-size: 20px; color: white;"> <%=current_user.username%></p>
              </div>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>